<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-7 offset-sm-1">
      <h3>Radishes</h3>
      <div class="article-container">
        {{!-- <div class="card alert-info main">
          <div class="card-header">
          </div>
          <div class="card-body">
            <img src="" height="250px" alt="">
          </div>
        </div> --}}
      </div>
    </div>
    <div class="col-sm-3">
      <div>
        <p>

        </p>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<script src="../assets/javascript/index.js"></script>